{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Examen Parcial</title>
        <link rel="stylesheet" href="{% static 'ingresoProducto/index.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        
        <ul id="navbar" >
            <li><a href="default.asp">Home</a></li>
            <li><a href="login">Productos</a></li>
            <li><a href="contact.asp">Contact</a></li>
            <li><a href="registroTienda">Registro Tiendas</a></li>
        </ul>
        <h1 style="text-align: center"> Lista de Productos</h1>
        <form method="post" action="{% url 'productos:ingresoProducto' %}">
            {% csrf_token %}
            <button class="btn btn-success m-5" data-bs-toggle="modal" data-bs-target="#nuevoCurso">Agregar Producto <i class="fas fa-save fa-sm fa-fw"></i></button>
            
            <div>
                <div class="modal fade" tabindex="-1" id="nuevoCurso" data-bs-backdrop="static" data-bs-keyboard="false">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form >
                                {% csrf_token %}
                                <div class="modal-header">
                                    <h5 class="modal-title">Crear Producto</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row form-group justify-content-center mb-3">
                                        <div class="col-5">
                                            <label>Nombre</label>
                                            <input class="form-control" type="text" name="nombreProducto" required>
                                        </div>
                                        <div class="col">
                                            <label>Descripcion</label>
                                            <input class="form-control" type="text" name="descripcionProducto">
                                        </div>
                                        <div class="col-5">
                                            <label>Codigo</label>
                                            <input class="form-control" type="text" name="codigoProducto">
                                        </div>
                                        <div class="col">
                                            <label>Precio</label>
                                            <input class="form-control" type="text" name="precioProducto">
                                        </div>
                                        <div class="col">
                                            <label>Cantidad</label>
                                            <input class="form-control" type="text" name="cantidadProducto">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Registrar</button>
                                        
                                    </div>
                                </div>

                            </div>
                            </form>
                        </div>
                    </div>
                </div>

        </form>
        <div class="mt-5 container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <table class="table table-bordered">
                        <thead style="background-color: #0f94bd; color: white">
                            <th>Nombre Producto</th>
                            <th>Descripcion</th>
                            <th>Codigo</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Ver inscritos</th>
                            <th>Eliminar curso</th>
                        </thead>
                        <tbody  >
                            {% for usuario in listaUsuarios %}
                            <tr >
                                <td class="text-center" >{{ usuario.nombreProducto }}</td>
                                <td>{{ usuario.descripcionProducto }}</td>
                                <td class="text-center">{{ usuario.codigoProducto }}</td>
                                <td class="text-center">{{ usuario.precioProducto }}</td>
                                <td class="text-center">{{ usuario.cantidadProducto }}</td>
                                <td class="text-center"><a class="btn btn-info"> <i class="fa-solid fa-eye "></a></td>
                                <td class="text-center"><a class="btn btn-danger " ><i class="fa-solid fa-trash "></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>